{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container">
      <h2 class="titleDetails"> Detalhes do Evento </h2>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img
                            src="https://www.anipolitan.com.br/wp-content/uploads/2019/08/top3.png"
                            alt="foto"
                            style="width: 100%"
                    >

                </div>
                <div class="col-6">
                    <p class="text">Hoy chuu, ☆⌒ヽ(*'､^*) <br>
                    Preparado para a maior festa da cultura pop oriental na Bahia? 
                    São mais de 30 atividades programadas, fiquem ligados em nossas redes oficiais
                    Facebook: www.facebook.com/anipolitan <br>
                    Twitter: www.twitter.com/anipolitan <br>
                    Instagram: www.instagram.com/anipolitan <br>

                </div>
            </div>
            <div class="container" >
                <h2 class="titleDescription"> Anipolitan </h2>

                <div class="row">
                    <p class="titleLocal">Local:</p>
                    <p class="textLocal" style="font-size: 15px">Unijorge | Campus Paralela</p>
                </div>
                <div class="row" style="width: 100%; flex-direction: row; text-align: start">
                    <p class="titlePrice" style="font-size: 15px; margin-left: 10px; color: black">Valor</p>
                    <p class="textPrice" style="font-size: 15px">20,00</p>
                </div>
                <div class="row" style="width: 100%; flex-direction: row; text-align: start">
                    <p class="titleDate" style="font-size: 15px; margin-left: 10px; color: black">Data</p>
                    <p class="textPrice" style="font-size: 15px">07 de dezembro de 2019, 10h - 08 de dezembro de 2019, 20h</p>
                </div>
                <div class="row" style="width: 100%; flex-direction: row; text-align: start">
                    <p class="titleDate" style="font-size: 15px; margin-left: 10px; color: black">Horário</p>
                    <p class="textPrice" style="font-size: 15px">20:00 hrs</p>
                </div>

            </div>
        </div>

    </div>
{% endblock %}